
.list {
  position: relative;
  top: 30px;
  right: 60px;
  background-color: white;
  width: 150px;
  height: 70px;
  /* margin-right: 20px; */
}

.list ul {
  position: relative;
  right: 30px;
}
.list li {
  list-style: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
